#anima-start {
    margin: 200px auto 0;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: rgb(62, 62, 185);
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 150px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(105, 105, 105);
}
#anima-start:hover {
    transform: scale(1.2, 1.2);
    background-color: brown;
}